.App {
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #FAFAFA;
  padding-bottom: 50px;
}

.Nav {
  width: 100%;
  font-size: 30px;
  padding: 25px;
  background-color: #FF6914;
  color: white;
}

.Main {
  margin-top: 50px;
}

.Section {
  background-color: white;
  padding: 50px;
  border-radius: 25px;
}

.Footer {
  margin-top: 50px;
}

.Button {
  margin-left: 5px;
}